.anchorTag a:hover {
    text-decoration: none!important;
}

#anchorTag a {
    text-decoration: underline!important;
}

#anchorTag a:hover {
    text-decoration: none!important;
}

.bannerTop {
    width: 100%;
    justify-content: center;
}