.giftButton {    
    background: linear-gradient(179.72deg, #2db78e 30.54%, #2db78e 99.54%);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    width: 60%;
    border: 0;
    white-space: nowrap;
}
@media (max-width: 1200px) {
    .giftButton {
        width:100%;
    }
  }

  .giftButton:hover {
    background-image: linear-gradient(to right, #2b6d48 0%, #2b6d48 51%, #2b6d48 100%);
    border: none;
  }     


  .loader{
    color: #28a745; 
    margin-right: 10px;
    height: 26px;
    width: 26px;
  }

  .tickbtn{
    border-radius: 50px; 
    margin-right: 5px;
    padding: 1px;
  }
  
  .tickbtn:focus{
    border: 1px solid #28a745;
    box-shadow: none;
  }
  .tickbtn:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
    background: #28a745; 
    border: 1px solid #28a745;
  }
  .tickbtn:hover{
    cursor: default;
    background: #28a745; 
    border: 1px solid #28a745;
  }
  
  .cross{
    border-radius: 50px; 
    margin-right: 5px;
    padding: 1px;
    background: red;
    border: 1px solid red;
  }
  
  .sendcontents input {
    border-top: none;
    border-right: none;
    border-bottom: 3px solid rgb(43, 177, 96);
    border-left: none;
    border-image: initial;
    color: rgb(43, 177, 96);
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    width: 300px;
    font-size: 20px;
  }
  .sendcontents input:focus {
    outline: none;
  }

  .cross:focus{
    border: 1px solid red;
    box-shadow: none;
  }
  .cross:not(:disabled):not(.disabled):active:focus{
    box-shadow: none;
    background: red; 
    border: 1px solid red;
  }
  .cross:hover{
    cursor: default;
    background: red; 
    border: 1px solid red;
  }
  .cross:not(:disabled):not(.disabled):active{
    cursor: default;
    background: red; 
    border: 1px solid red;
  }
  
  .xbtn{
    border: none;
    color: red; 
    margin-left: 5px;
    padding: 1px;
    background-color: none;
  }

  .buycontainer {
    position: relative !important;
    text-align: center !important;
  }
  
  .buycontents {
    display: inline-flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .buytext {
    padding-top:1.5rem !important;
    margin-right: .5rem !important;
    margin-left: .5rem !important;
    font-size: 22px !important;
    color: #1d144f !important;
  }
  .buytext1 {
    padding-top:0rem !important;
    margin-bottom: 0rem;
    font-size: 22px !important;
    color: #1d144f !important;
  }

  .buycontents input {
    border-top: none;
    border-right: none;
    border-bottom: 3px solid rgb(43, 177, 96);
    border-left: none;
    border-image: initial;
    color: rgb(43, 177, 96);
    max-width: 65%;
    overflow: hidden;
    text-align: left;
    width: 70px;
    font-size: 48px;
  }
  
  .buycontents input:focus {
    outline: none;
  }
  